<% provide(:title, "Edit product") %>
<h1>Edit product1</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: [:customer, @product], local: true) do |f| %>
      

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control' %>

      <%= f.label :store_id %>
      <%= f.select :store_id, Store.all.pluck(:name, :id) ,{prompt: 'Select store'}, class: 'form-control' %>
      

      <%= f.submit "Add product", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>